{% extends 'default_frame.twig' %}

{% block title %}{{ 'shopping_mall.admin.shop.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'shopping_mall.admin.shop.sub_title'|trans }}{% endblock %}

{% block main %}
    <h2>{{ Company.name }}</h2>
    <div>
        {{ Company.description }}
    </div>
    {% for Product in Products %}
        <a href="/products/detail/{{ Product.id }}">
            <h4>{{ Product.name }}</h4>
        </a>
    {% endfor %}
{% endblock %}
