{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'company_list_page' %}

{% block main %}
{% form_theme form 'Form/form_div_layout.twig' %}
    <div class="ec-layoutRole__header">
        <div class="ec-headerNaviRole">
            <div class="ec-headerNaviRole__left">
                <h3 class="ec-headerNaviRole__logo">
                    <a href="{{ url('homepage') }}">
                        AMEX Shopping
                    </a>
                </h3>
                <div class="ec-headerNaviRole__search">
                    {{ render(path('block_search_product')) }}
                </div>
                <div class="ec-headerRole__navSP">
                    {{ include('Block/nav_sp.twig') }}
                </div>
            </div>
            <div class="ec-headerNaviRole__right">
                <div class="ec-headerNaviRole__nav">
                    {{ include('Block/login.twig') }}
                </div>
            </div>
        </div>
    </div>
    {{ include("Block/subHeader.twig") }}
    {% if search_form.category_id.vars.errors|length > 0 %}
        <div class="ec-searchnavRole">
            <p class="errormsg text-danger">{{ 'front.company.search__category_not_found'|trans }}</p>
        </div>
    {% else %}
        <div class="ec-searchnavRole">
            <form name="form1" id="form1" method="get" action="?">
                {% for item in search_form %}
                    <input type="hidden" id="{{ item.vars.id }}"
                           name="{{ item.vars.full_name }}"
                           {% if item.vars.value is not empty %}value="{{ item.vars.value }}" {% endif %}/>
                {% endfor %}
            </form>
            <div class="ec-searchnavRole__topicpath">
                <ol class="ec-topicpath">
                    <li class="ec-topicpath__item"><a href="{{ url('company_list') }}">{{ 'front.company.all_category'|trans }}</a>
                    </li>
                    {% if Category is not null %}
                        {% for Path in Category.path %}
                            <li class="ec-topicpath__divider">|</li>
                            <li class="ec-topicpath__item{% if loop.last %}--active{% endif %}"><a
                                        href="{{ url('company_list') }}?category_id={{ Path.id }}">{{ Path.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if search_form.vars.value and search_form.vars.value.name %}
                        <li class="ec-topicpath__divider">|</li>
                        <li class="ec-topicpath__item">{{ 'front.company.search_result__keyword'|trans({ '%name%': search_form.vars.value.name }) }}</li>
                    {% endif %}
                </ol>
            </div>
            <div class="ec-searchnavRole__infos">
                <div class="ec-searchnavRole__counter">
                    {% if pagination.totalItemCount > 0 %}
                        {{ 'front.company.search_result__detail'|trans({ '%count%': pagination.totalItemCount })|raw }}
                    {% else %}
                        <span>{{ 'front.company.search__company_not_found'|trans }}</span>
                    {% endif %}
                </div>
            </div>
        {% if pagination.totalItemCount > 0 %}
            <div class="ec-shelfRole">
                <ul class="ec-shelfGrid">
                    {% for Company in pagination %}
                        <li class="ec-shelfGrid__item">
                                <p class="ec-shelfGrid__item-image">
                                    <img src={{ asset('assets/img/top/img_sample_shop01.jpg') }}>
                                </p>
                                <p>{{ Company.name }}</p>
                                <a href="{{ url('company_detail', {'id': Company.id} )}}" class="ec-inlineBtn">{{ 'front.move.to.company.detail'|trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ec-pagerRole">
                {% include "pager.twig" with {'pages': pagination.paginationData} %}
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
