{% extends '@admin/default_frame.twig' %}

{% set menus = ['company', 'company_new_menu'] %}

{% block title %}店舗設定{% endblock %}
{% block sub_title %}店舗詳細設定{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
{#    {{ dump(sample) }}#}
    <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="" enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        <div class="row">
            <div class="col-3"><span>{{ 'shopping_mall.admin.setting.shop.description'|trans }}</span></div>
            <div class="col mb-2">
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="col-6">
            <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                <div class="col-auto">
                    <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.registration'|trans }}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

